:root {
    --color-background: #0F172A;
    --color-cards: #1E293B;
    --color-principal: #2563EB;
    --color-secundaria: #F59E0B;
    --color-texto: #F8FAFC;
    --color-texto-secundario: #CBD5E1;


    --fonte-principal: 'Poppins', sans-serif;
}

